<div class="panel">
  <div class="panel-heading"><h3>Lawyers</h3></div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Search</div>
    <div class="row">
      <div class="span10">
        <%= form_for lawyers_path, :method => 'get' do %>
          <table class="table" width="100%">
            <thead>   
            <tr>
              <td>Name :</td>
              <td>
                <%= autocomplete_field_tag :client, nil, ac_client_gr_graphs_path, :required => true, :style => "width: 100%;" %>
              </td>
              <td colspan=>
                <div class="pull-right">
                  <%= submit_tag "Search" %>
                </div>
              </td>
            </tr>
            </thead>    
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Lawyers List</div>
    <div class="row">
      <div class="span11">
        <div class="pull-right">
          <%= link_to "Backup in EXCEL File <i class='icon-download-alt'></i>".html_safe, lawyers_path(params.merge(format: 'xls')), :class => "btn btn-success" %>
        </div>  
        <%= link_to "Create Entry",
                    new_lawyer_path,
                    :class => 'btn btn-primary' %>
        <br/>
        <br/>
        <div class="row">
          <div class="span11">
            <table class="table table-striped" id="lawyers">
              <thead>
                <tr>
                  <th width="30%"><center><%= sortable "last_name", "Name" %><center></th>
                  <th width="12%"><center><%= sortable "initials", "Initials" %><center></th>
                  <th width="10%"><center><%= sortable "position", "Position" %><center></th>
                  <th width="15%"><center><%= sortable "email", "Email" %><center></th>
                  <th width="10%"><center>Mobile<center></th>
                  <th width="23%"><center>Actions<center></th>
                </tr>
              </thead>
              <tbody>
                <% @lawyers.each do |lawyer| %>
                  <% if lawyer.is_active == 'No' %>
                    <% @class = 'error' %>
                  <% else %>
                    <% @class = '' %>
                  <% end %>
                  <tr class="<%=@class%>">
                    <td><%= lawyer.first_name+" "+lawyer.middle_name+" "+lawyer.last_name %> </td>
                    <td><center><%= lawyer.initials %></center></td>
                    <td><center><%= lawyer.position %></center></td>
                    <td><center><%= lawyer.email %></center></td>
                    <td><center><%= lawyer.mobile_number %></center></td>
                    <td>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_lawyer_path(lawyer), :class => 'btn btn-mini' %>
                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  lawyer_path(lawyer),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-mini btn-danger' %>
                      <% if lawyer.is_active == 'Yes' %>
                        <%= link_to "Deactivate".html_safe, deactivate_lawyer_path(params.merge(:id => lawyer)), title:"Deactivate", class: 'btn btn-info btn-mini' %>
                      <% else %>
                        <%= link_to "Activate".html_safe, activate_lawyer_path(params.merge(:id => lawyer)), title:"Activate", class: 'btn btn-info btn-mini' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= will_paginate @lawyers, :param_name => 'page', previous_label: "<i class='icon-chevron-left'></i>".html_safe, next_label: "<i class='icon-chevron-right'></i>".html_safe %>
            </div>
          </div>
        </div>

        <%= link_to "Create Entry",
                    new_lawyer_path,
                    :class => 'btn btn-primary' %>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div>  


<script>
  // $('#lawyers').dataTable( {
  //   "aaSorting": [[ 0, "asc" ]],
  //   "aoColumns": [
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": false, "bSortable": false },
  //   ],
  //   "sPaginationType": "bootstrap"
  // } );
</script>
