<%- model_class = Lawyer -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<%= link_to "Create Entry",
            new_lawyer_path,
            :class => 'btn btn-primary' %>
<br/>
<br/>
<div class="row">
  <div class="span11 well">
    <table class="table table-striped" id="lawyers">
      <thead>
        <tr>
          <th width="35%"><center>Name<center></th>
          <th width="10%"><center>Initial<center></th>
          <th width="15%"><center>Position<center></th>
          <th width="15%"><center>Email<center></th>
          <th width="15%"><center>Mobile<center></th>
          <th width="10%"><center>Actions<center></th>
        </tr>
      </thead>
      <tbody>
        <% @lawyers.each do |lawyer| %>
          <tr>
            <td><%= lawyer.first_name+" "+lawyer.middle_name+" "+lawyer.last_name %> </td>
            <td><center><%= lawyer.initials %></center></td>
            <td><center><%= lawyer.position %></center></td>
            <td><center><%= lawyer.email %></center></td>
            <td><center><%= lawyer.mobile_number %></center></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_lawyer_path(lawyer), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          lawyer_path(lawyer),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Create Entry",
            new_lawyer_path,
            :class => 'btn btn-primary' %>
<br/>
<br/>
<script>
  $('#lawyers').dataTable( {
    "aaSorting": [[ 0, "asc" ]],
    "aoColumns": [
      { "bSearchable": true, "bSortable": true },
      { "bSearchable": true, "bSortable": true },
      { "bSearchable": true, "bSortable": true },
      { "bSearchable": true, "bSortable": true },
      { "bSearchable": true, "bSortable": true },
      { "bSearchable": false, "bSortable": false },
    ],
    "sPaginationType": "bootstrap"
  } );
</script>
