<%- model_class = Lawyer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="dl-horizontal">
  <div class="span1">&nbsp;</div>
  <div class="span9">
    <span><strong>First Name :</strong></span>
    <span><%= @lawyer.first_name %></span><br/>
    
    <span><strong>Last Name :</strong></span>
    <span><%= @lawyer.last_name %></span><br/>
    
    <span><strong>Middle Name :</strong></span>
    <span><%= @lawyer.middle_name %></span><br/>
    
    <span><strong>Initial :</strong></span>
    <span><%= @lawyer.initials %></span><br/>

    <span><strong>Mobile Number :</strong></span>
    <span><%= @lawyer.mobile_number %></span><br/>
    
    <span><strong>Position :</strong></span>
    <span><%= @lawyer.position %></span><br/>
    
    <span><strong>Email :</strong></span>
    <span><%= @lawyer.email %></span><br/>
    
    <span><strong>Peso Rate (PHP) :</strong></span>
    <span><%= number_to_currency( @lawyer.rate.to_f, :unit => " ") %></span><br/>

    <span><strong>Dollar Rate (USD) :</strong></span>
    <span><%= number_to_currency(@lawyer.dollar_rate.to_f, :unit => " ") %></span><br/>

  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lawyers_path, :class => 'btn btn-primary'  %>
  <%= link_to "Next",
            new_lawyer_path,
            :class => 'btn btn-primary' %>              
  <%= link_to 'Edit',
              edit_lawyer_path(@lawyer), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lawyer_path(@lawyer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
