<% if params[:client].nil? %>

<% else %>
  <%# @file_matter_case = FileMatter.select('title, file_code').where(file_code: params[:file_matter_id]).last %>
  <% @arr = Array.new %>
  <% @assigned_lawyers.each do |lawyer| %>
    <% lawyer.lawyer_id %>
    <% @arr << [lawyer.lawyer.full_name, calculate_time_per_filematter(lawyer.lawyer_id, @beginning_date, @ending_date, @file_reference.last.file_code.to_s).to_f] %>
  <% end %>
    <script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Client Name: <%= raw(@client_id.name).upcase %>'
            },
            subtitle: {
                text: 'Case Title: <%= raw(@file_reference.last.title).upcase %> <br/> Period Covers: <%=raw(@beginning_date)%> - <%=raw(@ending_date)%>'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'List Of Lawyers Time Accumulation'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Lawyers Time Recorded: <b>{point.y:.1f} hours</b>'
            },
            series: [{
                name: 'Lawyers',
                data: <%= raw(@arr) %>,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    </script>
<% end %>
<div id="container" style="width: 100%; height: 600px; margin: 0 auto"></div>
