<div class="panel panel-primary">
  	<div class="panel-primary panel-heading">Search</div>
	  <div class="row">
	    <div class="span11">
		    <%= form_for search_entry_other_graph2_path, :method => 'get' do %>
			<table class="table" width="100%">
			  <thead>		
				<tr>
					<td>Client :</td>
					<td>
						<%= autocomplete_field_tag :client, nil, ac_client_gr_graphs_path, :required => true, :style => "width: 90%;" %>
					</td>
					<td>Case Title:</td>
					<td>
						<%= select_tag :file_matter_id, nil, prompt: "Select from List", id: "cases" %>
						
					</td>
				</tr>	
				<tr>
					<td>Date From: </td>	
					<td>
						<%= text_field_tag :beginning_date, nil,  :id => "datepicker_beg"%>
					</td>
					<td>Date To: </td>	
					<td>
						<%= text_field_tag :ending_date, nil,  :id => "datepicker_end"%>
						<%= hidden_field_tag :pfr, 3%>
					</td>
				</tr>
				<tr><td colspan="4"><div class="pull-right">
					    <%= submit_tag "Search" %>
				</div></td></tr>
			  </thead>		
			</table>
		<% end %>
    	</div>
  	</div>
  </div>
<script>
  $('#datepicker_beg').datepicker({format: 'yyyy-mm-dd'});
  $('#datepicker_end').datepicker({format: 'yyyy-mm-dd'});
  $(document).ready(function(){
      $('#client').blur(function(){
        $.ajax({
          url: "<%= update_cases_path %>",
          data: {
            client : $('#client').val()
          },
          dataType: "script"
          // success: function(data){
          //   console.log(data);
          // }
        });
      });
    }); 
</script>