<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  	
  	
  	<%= f.input :name, :label => 'Name / Company', :required => true %>
		<%= f.input :cl_code_num, :label => 'Client Code(Number)', :required => true %>
		<%= f.input :cl_code_txt, :label => 'Text Code', :required => true %>
		
		<%= f.input :position, :label => 'Position' %>
		<%= f.input :contact_number, :label => 'Contact Number' %>
		<%= f.input :email, :label => 'Email' %>
		<%= f.input :contact_person, :label => 'Contact Person' %>
		<%= f.input :address, :as => :text, :label => 'Address',  :input_html => { :cols => 50, :rows => 3 } %>
		
		
	  <br/>
	  <div class="pull left">
	    <%= f.button :submit, :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                clients_path, :class => 'btn' %>
	  </div>
	
<% end %>
