<script>
  // $('#clients').dataTable( {
  //   "aaSorting": [[ 0, "asc" ]],
  //   "aoColumns": [
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": false, "bSortable": false }
  //   ],
  //   "sPaginationType": "bootstrap"
  // } );
</script>

<div class="panel">
  <div class="panel-heading"><h3>Clients</h3></div>
    <div class="panel panel-primary">
      <div class="panel-primary panel-heading">Search</div>
      <div class="row">
        <div class="span10">
          <%= form_for clients_path, :method => 'get' do %>
            <table class="table" width="100%">
              <thead>   
              <tr>
                <td>Client :</td>
                <td>
                  <%= autocomplete_field_tag :client, nil, ac_client_gr_graphs_path, :required => true, :style => "width: 100%;" %>
                </td>
                <td colspan=>
                  <div class="pull-right">
                    <%= submit_tag "Search" %>
                  </div>
                </td>
              </tr>
              </thead>    
            </table>
          <% end %>
        </div>
      </div>
    </div>
  
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Client Lists</div>
    <div class="row">
      <div class="span11">
        <div class="pull-right">
          <%= link_to "Backup in EXCEL File <i class='icon-download-alt'></i>".html_safe, clients_path(params.merge(format: 'xls')), :class => "btn btn-success" %>
        </div>
        <%= link_to "Create Entry",
            new_client_path,
            :class => 'btn btn-primary' %>
        <br/>
        <br/>
        <div class="row">
          <div class="span11">
            <table class="table table-striped" id="clients">
              <thead>
                <tr>
                  <th width="30%"><center><%= sortable "name", "Name" %></center></th>
                  <th width="15%"><center>Client Code</center></th>
                  <!-- <th width="15%"><center>Contact Person</center></th>
                  <th width="15%"><center>Position</center></th>
                  <th width="15%"><center>Contact Number</center></th>
                  <th width="15%"><center>Email</center></th> -->
                  <th width="10%"><center>Action</center></th>
                </tr>
              </thead>
              <tbody>
                <% @clients.each do |client| %>
                  <tr>
                    <td><%= client.name %></td>
                    <td><center><%= client.cl_code_txt %></center></td>
                    <!-- <td><%#= client.contact_person %></td>
                    <td><%#= client.position %></td>
                    <td><%#= client.contact_number %></td>
                    <td><%#= client.email %></td>
                    -->
                    <td>
                      <%= link_to 'Edit',
                                  edit_client_path(client), :class => 'btn btn-mini' %>
                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  client_path(client),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-mini btn-danger' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= will_paginate @clients, :param_name => 'page', previous_label: "<i class='icon-chevron-left'></i>".html_safe, next_label: "<i class='icon-chevron-right'></i>".html_safe %>
            </div>
          </div>
        </div>
        <%= link_to "Create Entry",
                    new_client_path,
                    :class => 'btn btn-primary' %>
        <br>
        <br>
      </div>  
    </div>
  </div>  
</div>


