<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <Worksheet ss:Name="Sheet1">
   <Table>
     <Row>
       <Cell><Data ss:Type="String">ID</Data></Cell>
       <Cell><Data ss:Type="String">Name</Data></Cell>
       <Cell><Data ss:Type="String">Email</Data></Cell>
       <Cell><Data ss:Type="String">Contact Number</Data></Cell>
       <Cell><Data ss:Type="String">Position</Data></Cell>
       <Cell><Data ss:Type="String">Address</Data></Cell>
       <Cell><Data ss:Type="String">Contact Person</Data></Cell>
       <Cell><Data ss:Type="String">Created At</Data></Cell>
       <Cell><Data ss:Type="String">Updated At</Data></Cell>
     </Row>
     <Row>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
     </Row>
     <Row>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
     </Row>
      <% @client_all.each do |client| %>
        <Row>
          <Cell><Data ss:Type="String"><%= client.id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.email %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.contact_number %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.position %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.address %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.contact_person %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.created_at %></Data></Cell>
          <Cell><Data ss:Type="String"><%= client.updated_at %></Data></Cell>
        </Row> 
      <% end %>     
   </Table>
 </Worksheet>
</Workbook>
