<div class="page-header">
  <h3>Case Reports</h3>
</div>
<div class="row">
	<div class="span12 ">
		<%= simple_form_for admin_side_search_path, :method => 'get' do |f|%>
			<table class="table well" >
			  <thead>		
				<tr>
					<td>
						<%= f.input :file_matter_id, :url => autocomplete_file_matter_file_code_case_entries_path, :as => :autocomplete, :required => false, :label => "File Reference No.:" %>
						<%#= select_tag(:file_matter_case, options_from_collection_for_select(@file_matters, :case_number, :case_number, params[:file_matter_case]), {:id => 'file_matter_case', :prompt => "Select From List"})%>
					</td>	
					<td><%= f.input :case_number, :url => autocomplete_file_matter_case_number_case_entries_path, :as => :autocomplete, :required => false, :label => "Case Number:" %></td>
					<td>
						<%= f.label "Date From:" %>
						<%= f.text_field :beginning_date,  :id => "datepicker_beg"%>
					</td>
					<td>
						<%= f.label "Date To:" %>
						<%= f.text_field :ending_date,  :id => "datepicker_end"%>
					</td>
				</tr>
				<tr><td colspan="4"><div class="pull-right">
					    <%= submit_tag "Search" %>
				</div></td></tr>
			  </thead>		
			</table>
		<% end %>
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="pull-right" width="100%">
  		<%= link_to admin_side_index_path(params.merge(format: 'pdf')), :class => "btn btn-mini", :rel => "tooltip", :title => "Download To PDF" do %>
          	<li class="icon-download-alt"></li>
      	<% end %> 
    </div>
	<div class="span12">
		<%= params[:file_matter_id] %>
		<%= params[:case_number] %>
		<%= params[:beginning_date] %>
		<%= @case_listings %>
		<% if !@case_listings.blank? %>
			<h2>Records Found.</h2>
		<% else %>
			<h2>No Records Found.</h2>
		<% end %>		
	</div>
</div>
<script>
	$(function() {
  		$('#datepicker_beg').datepicker({format: 'yyyy-mm-dd'});
  		$('#datepicker_end').datepicker({format: 'yyyy-mm-dd'});
  	});
</script>
										
										
											  

											
											 