<div class="panel">
  <div class="panel-heading"><h3>System Users</h3></div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Users List</div>
    <div class="row">
      <div class="span11">
        <div class="row">
          <div class="span11">
            <%= link_to "Create Entry", new_account_user_path, :class => 'btn btn-primary' %>
            <br/>
            <br/>
            <table class="table table-striped" id="user_list">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Assigned To Lawyer</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @user_list.each do |user_list| %>
                  <% if user_list.is_active == 'No' %>
                    <% @class = 'error' %>
                  <% else %>
                    <% @class = '' %>
                  <% end %>
                  <tr class="<%=@class%>">
                    <td><%= user_list.name %></td>
                    <td><%= user_list.username %></td>
                    <td><%= user_list.email %></td>
                    <td><%= user_list.lawyer_id.present? ? user_list.lawyer.first_name+' '+user_list.lawyer.middle_name+' '+user_list.lawyer.last_name : user_list.name %></td>
                    <td>
                      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_account_user_path(user_list), :class => 'btn btn-mini' %>
                      
                      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  account_user_path(user_list),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-mini btn-danger' %>
                      <% if user_list.is_active == 'Yes' %>
                        <%= link_to "Deactivate".html_safe, deactivate_account_path(params.merge(:id => user_list)), title:"Deactivate", class: 'btn btn-info btn-mini' %>
                      <% else %>
                        <%= link_to "Activate".html_safe, activate_account_path(params.merge(:id => user_list)), title:"Activate", class: 'btn btn-info btn-mini' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= will_paginate @user_list, :param_name => 'page', previous_label: "<i class='icon-chevron-left'></i>".html_safe, next_label: "<i class='icon-chevron-right'></i>".html_safe %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= link_to "Create Entry",
            new_case_entry_path,
            :class => 'btn btn-primary' %>
<script>
  // $('#user_list').dataTable( {
  //   "aoColumns": [
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": false, "bSortable": true },
  //     { "bSearchable": false, "bSortable": true },
  //     { "bSearchable": false, "bSortable": false }
  //   ],
  //   "sPaginationType": "bootstrap"
  // } );
</script>            
