<div class="panel">
  <div class="panel-heading">
  	<h3>List Of Assigned Cases</h3>
	</div>
	<div class="span10"><%= link_to "Go To Create Case Entry Page", new_case_entry_path, :class => 'btn btn-primary' %></div>
	<br>
	<br>
	<div class="span10" id="selection-box">
	  <table class="table table-striped" id="filematters" width="100%">
	    <thead>
	      <tr>
	        <th width="25%"><center>File Reference No.</center></th>
	        <th width="30%"><center>Client</center></th>
	        <th width="20%"><center>Case Title</center></th>
	        <th width="10%"><center>Status</center></th>
	        <th width="15%"><center>Action</center></th>
	      </tr>
	      <%# @file_matter = CaseEntry.select('DISTINCT(file_matter_id), created_at').where("lawyer_id =? ", current_user.lawyer_id).order("file_matter_id DESC","created_at DESC") %>
	      <% @file_matter = AssignedLawyer.where("lawyer_id =? ", current_user.lawyer_id) %>
	      <% @file_matter_id = @file_matter.pluck(:file_matter_id) %>
	      <%# @file_matter_info = FileMatter.where(:file_code => @file_matter_id ).order('file_code DESC') %>
	      <% @file_matter_info = FileMatter.where(:id => @file_matter_id ).order('file_code DESC') %>
	      <% @file_matter_info.each do |fmi| %>
	        <tr>
	          <% 
	            if !fmi.cl_code_txt.nil? || !fmi.cl_code_txt.blank?
	              @filerefno = fmi.file_code+"-"+fmi.cl_code_txt
	            else
	              @filerefno = fmi.file_code
	            end

	            if !fmi.practice_code.nil? || !fmi.practice_code.blank?
	              @filerefno = @filerefno+"-"+fmi.practice_code
	            else
	              @filerefno = @filerefno
	            end
	          %>
	          <td><%= @filerefno %></td>
	          <% @client = Client.where(id: fmi.client_id)  %>
	          <td>
	            <% @client.each do |x| %>
	              <%= x.name %>
	            <% end %>
	          </td>
	          <td><%= fmi.title %></td>
	          <% @stats = AssignedLawyer.where(:file_matter_id => fmi.id).where(:lawyer_id => current_user.lawyer_id)%>
	          <% if @stats.last.status == 'Active' %>
	            <%@label = "label label-success" %>
	          <% else %>
	            <%@label = "label label-warning" %>
	          <% end %>
	          <td><center><span class="<%=@label%>"><%= @stats.last.status %></span></center></td>
	          <td>
	          	<% if @stats.last.status == 'Active' %>
	          		<%= link_to "<i class='icon-th'>Set To Inactive</i>".html_safe, update_status_assinged_path(id: @stats.last.id, status: 'Inactive'), class: "btn btn-xs btn-info" %>
	          	<% else %>
	          		<%= link_to "<i class='icon-th'>Set To Active</i>".html_safe, update_status_assinged_path(id: @stats.last.id, status: 'Active'), class: "btn btn-xs btn-default" %>
	          	<% end %>
	          </td>
	        </tr>
	      <% end %>
	    </thead> 
	  </table>
	</div>
</div>