$('#case_entry_file_matter_case').val("<%= escape_javascript(@file_matters.case_number)%>")
$('#case_entry_case_title').val("<%= escape_javascript(@file_matters.title)%>")
$('#case_entry_client_id').val("<%= @my_clients.id %>")
$('#case_entry_client_code').val("<%= @my_clients.cl_code_txt %>")
$('#case_entry_practice_code').val("<%= @file_matters.practice_code %>")
$('#filematter_id').val("<%= @file_matters.id %>")
$('#case_entry_client_name').val("<%= escape_javascript(@my_clients.name) %>")


$('#lawyer_field').html("<% @my_lawyers.each do |blah| %><input id='case_entry_lawyer_id[<%= blah.id %>]' type='checkbox' value='<%= blah.id %>' name='case_entry_lawyer_id[<%= blah.id %>]'><div style='margin-top: -17px; padding-left: 20px;'><%= escape_javascript(blah.full_name) %></div><% end %>")