<div class="account-container stacked">
  <div class="content clearfix">
    <h1>Sign In</h1>    
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="login-fields">
        <div class="field">
          <label for="username">Username:</label>
          <%= f.input :login, :required => false, :autofocus => true, placeholder: "Username",input_html: { class: "form-control input-lg username-field"} %>
        </div> <!-- /field -->
        <div class="field">
          <label for="password">Password:</label>
          <%= f.input :password, :required => false, placeholder: "Password", input_html: { class: "form-control input-lg password-field"} %>
        </div> <!-- /password -->
      </div> <!-- /login-fields -->
      <div class="login-actions">
        <span class="login-checkbox">
          <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4">
          <label class="choice" for="Field">Keep me signed in</label>
        </span>
        <%= f.button :submit, "Sign in", class: "login-action btn btn-primary" %>
      </div> <!-- .actions -->
    <% end %>
  </div> <!-- /content -->
</div>

<div class="login-extra">
  Don't have an account? <%= link_to "Sign Up", new_registration_path(resource_name) %>
</div>
