<div class="span10">
  <div class="pull-left">
    <%#= link_to "Create Entry",
              new_case_entry_path,
              :class => 'btn btn-primary' %>
  </div>
  <!-- <div class="pull-right">
    <%##= link_to "Download as PDF <i class='icon-download-alt'></i>".html_safe, case_entries_path(params.merge(format: 'pdf')), :class => "btn btn-primary" %>
    <%##= link_to "Backup in EXCEL File <i class='icon-download-alt'></i>".html_safe, case_entries_path(params.merge(format: 'xls')), :class => "btn btn-success" %>
  </div> -->

</div>
<br/>
<br/>              
<div class="span10" style="overflow: scroll;">                        
  <table class="table table-striped" id="case_entries" >
    <!-- <thead>
      <tr>
        <th width="10%" class="pretty"><center><%#= sortable "entry", "Entry Date" %></center></th>
        <th width="13%"><center><%#= sortable "file_matter_id", "File Ref. No."%></center></th>
        <th width="17%"><center>Client Code</center></th>
        <th width="21%"><center><%#= sortable "case_title", "Client"%></center></th>
        <th width="8%"><center><%#= sortable "lawyer_id", "Initial"%></center></th>
        <th width="10%"><center>Start Time</center></th>
        <th width="10%"><center>End Time</center></th>
        <th width="10%"><center>Action</center></th>
      </tr>
    </thead>
    <tbody> -->

      <% if @case_entries.blank? || @case_entries.nil? %>
        <tr><td colspan=5><center><h4> No data to show. </h4></center></td></tr>
      <% else %>
        <% @ca = @case_entries.uniq %>
        <% @ca.each do |case_entry| %>
          <tr>
            <td colspan="2" align="left"><strong>FILE REFERENCE NO:</strong>&nbsp;<%= case_entry %></td>
            
            <td colspan="3" align="left"><strong>Total Case Entries:</strong>&nbsp;<%= count_case_entries(case_entry, params[:date_from], params[:date_to]) %></td>
          </tr>
          <tr class="pretty">
            <td width="10%"><strong>CASE OPENED</strong></td>
            <td width="35%"><strong>CASE TITLE</strong></td>
            <td width="12%"><strong>PRACTICE CODE</strong></td>
            <td width="35%"><strong>CLIENT</strong></td>
            <td width="8%"><strong>CLIENT CODE</strong></td>
          </tr>
          <% @fileref_info =  FileMatter.where(file_code: case_entry) %>  
          <% @fileref_info.each do |fileref_info| %>
            <tr>
              <td><%= fileref_info.case_date %></td>
              <td><%= fileref_info.title %></td>
              <td><%= fileref_info.practice_code %></td>
              <td><%= fileref_info.client.name %></td>
              <td><%= fileref_info.cl_code_txt %></td>
            </tr>
            <% @year_per_fr = load_year(case_entry, params[:date_from], params[:date_to]) %>  
            <tr>
              <td colspan="5">
                <div style="overflow-y: scroll;">
                  <table class="table table-bordered" id="case_entries">
                    <tr>
                      <% @year_per_fr.each do |y| %>
                        <td><strong>YEAR ( <%= y %> )</strong></td>
                        <td><strong>TOTAL ENTRIES: <%= count_per_year(y, case_entry) %></strong></td>
                      <% end %>
                    </tr>
                  </table>
                </div>
                <div style="overflow: scroll;">
                  <table class="table table-bordered" id="case_entries">
                    
                      <% @al = AssignedLawyer.where(file_matter_id: fileref_info.id) %>
                      <% @al.each do |al| %>
                        <tr>
                          <td><strong><%= al.lawyer.full_name %> (<%= al.lawyer.initials %>)</strong></td>
                          <%  @years = load_year_per_lawyer(case_entry, params[:date_from], params[:date_to], al.lawyer.id) %>
                          <%  @years.each do |y| %>
                                <td><strong>YEAR ( <%= y %> )</strong></td>
                                <td><strong>TOTAL ENTRIES: <%= extract_year(y, case_entry, al.lawyer.id) %></strong></td>
                          <%  end %>
                        </tr>
                      <% end %>
                    </tr>

                  </table>
                </div>
              </td>
            </tr>

            <%# @years = Array.new %>
            <%# @data = Array.new %>
            <%# @data_per_year = Array.new %>
            <%# @years = load_year_per_lawyer(case_entry, params[:date_from], params[:date_to], al.lawyer.id) %>
            <%#
               @years.each do |y|
                  @data_per_year << extract_year(y, case_entry, al.lawyer.id)
                  @data << [y.to_s, extract_year(y, case_entry, al.lawyer.id)]
               end 
            %>
          <% end%>  
        <% end%>
      <% end%>
        <%## @case_entries.each do |case_entry| %>
          <tr class="<%##= case_entry.remove_from_billing == 'Yes' ? 'error' : '' %>">
            <td data-title=""><center><%#= case_entry.entry_date %></center></td>
            <td data-title=""><center><%#= case_entry.file_matter_id %></center></td>
            <%# @client = Client.find(:all, :conditions => { :id => case_entry.client_id} ) %>
            <td><%# @client.each do |x| %>
                  <%#= x.cl_code_txt %>
                <%# end %>
            </td>    
            <td><%##= case_entry.file_matter_case %><%#= case_entry.case_title %></td>
            <%# @lawyers_initial = Lawyer.where("id = ?", case_entry.lawyer_id) %>
            <td><center>
              <%# @lawyers_initial.each do |initials| %>
                <%#= initials.initials %>
              <%# end %>
            </center></td>
            <td><center></center></td>
            <td><center></center></td>
            <td><center>
              </center>
            </td>
          </tr>
        <%# end %>
      <%# end %>

    </tbody>
  </table>
  <div class="pull-right">
    <%# if @case_entries.blank? || @case_entries.nil? %>
      
    <%# else %>
      <%#= will_paginate @case_entry, :param_name => 'page', previous_label: "<i class='icon-chevron-left'></i>".html_safe, next_label: "<i class='icon-chevron-right'></i>".html_safe %>
    <%# end %>
  </div>
</div>
