<div class="span10">
  <div class="pull-left">
  </div>
</div>
<br/>
<br/>              
<div class="span10">                        
  <table class="table table-striped" id="case_entries" >

      <% if @case_entries.blank? || @case_entries.nil? %>
        <tr><td colspan=5><center><h4> No data to show. </h4></center></td></tr>
      <% else %>
        <% @ca = @case_entries.uniq %>
        
        <% @practices = Array.new
           @data = Array.new 
           @file_matters.reject(&:empty?).each do |fm|
             @practices << fm
           end 
           @x = @practices.group_by(&:itself).map { |k,v| [k, v.length] }.to_h
        
           @x.each do |key, value|
             # puts "Bob's #{key} is #{value}"
             @data << [key, value]
           end
        %>

        <%  if params[:date_from].nil? || params[:date_from].empty? 
              @beginning_date = Date.today.at_beginning_of_month
              @ending_date = Date.today
            else 
              @beginning_date = params[:date_from]
              @ending_date = params[:date_to]
            end
        %>

        <% @client_name = Client.find_by_cl_code_txt(params[:client_code]) %>
        <td colspan="5">
          <script>
            $(function () {
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 1,//null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Practice Areas for Client: <%= @client_name.name %>(<%= @client_name.cl_code_txt %>)'
                    },
                    subtitle:{
                        text: 'Period Covers: <%=raw(@beginning_date)%> - <%=raw(@ending_date)%>'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Practice Areas',
                        data: <%= raw(@data) %>

                        // [ 
                        //     ['Firefox',   45.0],
                        //     ['IE',       26.8],
                        //     // ['Safari',    8.5],
                        //     // ['Opera',     6.2],
                        //     // ['Others',   0.7]
                        // ]
                    }]
                });
            });
          </script>
          <div id="container" style="width: 100%; height: 600px; margin: 0 auto"></div>
        </td>
        <tr><td colspan=5><strong>TOTAL CASE OPEN :</strong><%= @practices.count %></td></tr>
      <% end%>
      

  </table>
</div>
