<div class="span10">
  <div class="pull-left">
  </div>
</div>
<br/>
<br/>              
<div class="span10">                        
  <table class="table table-striped" id="case_entries" >

      <% if @case_entries.blank? || @case_entries.nil? %>
        <tr><td colspan=5><center><h4> No data to show. </h4></center></td></tr>
      <% else %>
        <% @ca = @case_entries.uniq %>
        <% 
          results = @case_entries.map { |u| [u.client_id, u.file_code] } 
        %>
        <% @clients = Array.new
           @client_names = Array.new
           @data = Array.new
           @data2 = Array.new 
           @case_entries.each do |fm|
             @client_name = Client.find(fm.client_id) 
             @clients << @client_name.cl_code_txt
             @client_names << @client_name.name
           end 
           @x = @clients.group_by(&:itself).map { |k,v| [k, v.length] }.to_h
           @y = @client_names.group_by(&:itself).map { |k,v| [k, v.length] }.to_h
           
           @x.each do |key, value|
             # puts "Bob's #{key} is #{value}"
             @data << [key, value]
           end

           @y.each do |key, value|
             # puts "Bob's #{key} is #{value}"
             @data2 << key
           end


        %>
        <%# @clients %>
        <%  if params[:date_from].nil? || params[:date_from].empty? 
              @beginning_date = Date.today.at_beginning_of_month
              @ending_date = Date.today
            else 
              @beginning_date = params[:date_from]
              @ending_date = params[:date_to]
            end
            # @yyy = load_case_open_per_year(params[:practice_code], @beginning_date, @ending_date)
            # @years = Array.new
            # @yyy.each do |c|
            #   myear = Date.strptime(c.to_s, '%m/%d/%y')
            #   @years << myear.year 
            # end

            # @data_year = @years.group_by(&:itself).map { |k,v| [k, v.length] }.to_h
            # @data_year.each do |key, value|
            #   @data << [key.to_s, value]
            # end
        %>
        <% @practice_name = PracticeTable.find_by_text_code(params[:practice_code]) %>
        <td colspan="5">
          <script>
            $(function () {
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 1,//null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Practice Area Distribution per Client (<%= @practice_name.practice_name%>[<%=params[:practice_code]%>] )'
                    },
                    subtitle:{
                        text: 'Period Covers: <%=raw(@beginning_date)%> - <%=raw(@ending_date)%>'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Total:',
                        data: <%= raw(@data) %>

                        // [ 
                        //     ['Firefox',   45.0],
                        //     ['IE',       26.8],
                        //     // ['Safari',    8.5],
                        //     // ['Opera',     6.2],
                        //     // ['Others',   0.7]
                        // ]
                    }]
                });
            });
          </script>
          <div id="container" style="width: 100%; height: 600px; margin: 0 auto"></div>
        </td>
        <tr><td colspan=5><strong>TOTAL ACTIVE CASE/S OPEN :</strong><%= @clients.count %></td></tr>
      
        <tr>
          <td colspan="2"><h5>Breakdown of File References Per Practices:</h5></td>
        </tr>
                <%# results.each do |res, c| %>
                  <%# if key == res %>
                     <%#= c %>&nbsp;[<%#= fm_case_title(c)%>]
                  <%# end %>
                <%# end %>
        <tr>
          <td colspan=5>
            <table class="table table-striped">
              <tr>
                <td>Client Code</td>
                <td>Client Name</td>
                <td>Total Entry</td>
                <td>File References</td>
              </tr>
              <%  @x.sort.each do |key, value| %>
                <tr>
                  <td><%= key %></td>
                  <td><%= client_name(key) %></td>
                  <td><%= value %></td>
                  <td><% 
                        @f = file_ref_info(key, params[:practice_code]) 
                        @f.each do |f|
                      %>
                        <p><%= f.file_code %> [<%= f.title %>]</p>
                      <%
                        end
                      %>
                  </td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      <% end%>
  </table>
</div>
