<div class="panel panel-primary">
  <div class="panel-primary panel-heading">List of Filematters</div>
  <div class="row">
    <div class="span10">
      <table class="table table-striped" id="filematters" width="100%">
        <thead>
          <tr>
            <th width="20%"><center>File Reference No.</center></th>
            <th width="35%"><center>Case Title</center></th>
            <th width="35%"><center>Case No.</center></th>
            <th width="10%"><center></center></th>
          </tr>
          <% @file_matter = CaseEntry.select('DISTINCT(file_matter_id)').where("lawyer_id =? ", current_user.lawyer_id) %>
          <%# @file_matter = AssignedLawyer.where("lawyer_id =? ", current_user.lawyer_id) %>
          <% @file_matter_id = @file_matter.pluck(:file_matter_id) %>
          <% @file_matter_info = FileMatter.where(:file_code => @file_matter_id ) %>
          <% @file_matter_info.each do |fmi| %>
            <tr>
              <td><%= fmi.file_code %><%= hidden_field_tag :file_code, fmi.file_code, :id => "file_code" %></td>
              <td><%= fmi.title %></td>
              <td><%= fmi.case_number %></td>
              <td>
                <button class="btn btn-sm btn-info choose" data-dismiss="modal" id="choose" value="<%= fmi.file_code %>">
                  <i class="icon-plus"></i>
                  Select
                </button>
              </td>
            </tr>
          <% end %>
        </thead>
        <tbody>  
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.choose').click(function(){
      var file_code = $(this).val()
      $.ajax({
        url: "<%= update_search_form_path %>",
        data: {
          case_entry_file_matter_case : file_code
        },
        dataType: "script"
      });
    });
  });
</script>