<div class="panel panel-primary">
  <div class="panel-primary panel-heading">List of Reference Numbers</div>
  <div class="row">
    <!-- <div class="span6">
      <strong>View By Status :</strong>
      <select id="select-status">
        <option>Active</option>
        <option>All</option>
      </select>
    </div> -->
    <div class="span10">
      <%= link_to "<i class='icon-th'>&nbsp;View List of Assigned Cases</i>".html_safe, assigned_lawyer_filematters_path(), class: "btn btn-xs btn-danger" %>
    </div>

    <div class="span10" id="selection-box">
      <table class="table table-striped" id="filematters" width="100%">
        <thead>
          <tr>
            <th width="20%"><center>File Reference No.</center></th>
            <th width="30%"><center>Client</center></th>
            <th width="20%"><center>Case Title</center></th>
            <th width="10%"><center>Action</center></th>
            <th width="20%"><center>Status</center></th>
          </tr>
          <%# @file_matter = CaseEntry.select('DISTINCT(file_matter_id), created_at').where("lawyer_id =? ", current_user.lawyer_id).order("file_matter_id DESC","created_at DESC") %>
          <% @file_matter = AssignedLawyer.where("lawyer_id =? AND status =? ", current_user.lawyer_id, "Active") %>
          <% @file_matter_id = @file_matter.pluck(:file_matter_id) %>
          <%# @file_matter_info = FileMatter.where(:file_code => @file_matter_id ).order('file_code DESC') %>
          <% @file_matter_info = FileMatter.where(:id => @file_matter_id ).order('file_code DESC') %>
          <% @file_matter_info.each do |fmi| %>
            <tr>
              <% 
                if !fmi.cl_code_txt.nil? || !fmi.cl_code_txt.blank?
                  @filerefno = fmi.file_code+"-"+fmi.cl_code_txt
                else
                  @filerefno = fmi.file_code
                end

                if !fmi.practice_code.nil? || !fmi.practice_code.blank?
                  @filerefno = @filerefno+"-"+fmi.practice_code
                else
                  @filerefno = @filerefno
                end
              %>
              <td><%= @filerefno %><%= hidden_field_tag :file_code, fmi.file_code, :id => "file_code" %></td>
              
              
              <% @client = Client.where(id: fmi.client_id)  %>
              <td>
                <% @client.each do |x| %>
                  <%= x.name %>
                <% end %>
              </td>
              <td><%= fmi.title %></td>
              <td>
                <button class="btn btn-xs btn-info choose" data-dismiss="modal" id="choose" value="<%= fmi.file_code %>">
                  <i class="icon-plus"></i>
                  Select
                </button>
              </td>
              <% @stats = AssignedLawyer.where(:file_matter_id => fmi.id).where(:lawyer_id => current_user.lawyer_id)%>
              <% if @stats.last.status == 'Active' %>
                <%@label = "label label-success" %>
              <% else %>
                <%@label = "label label-warning" %>
              <% end %>
              <td><center><span class="<%=@label%>"><%= @stats.last.status %></span></center></td>
              
            </tr>
          <% end %>
        </thead> 
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    
    $('.choose').click(function(){
      var file_code = $(this).val()
      $.ajax({
        url: "<%= update_search_form_path %>",
        data: {
          case_entry_file_matter_case : file_code
        },
        dataType: "script"
      });
    });

    $('#select-status').change(function(){
      var ss = $(this).val()
      $.ajax({
        url: "<%= select_status_path %>",
        data: {
          select_status : ss,
          lawyer_id : "<%= current_user.lawyer_id %>"
        },
        dataType: "script"
      });
    });  
  });
</script>