<div class="span10">
  <div class="pull-left">
  </div>
</div>
<br/>
<br/>              
<div class="span10">                        
  <table class="table table-striped" id="case_entries" >

      <% if @case_entries.blank? || @case_entries.nil? %>
        <tr><td colspan=5><center><h4> No data to show. </h4></center></td></tr>
      <% else %>
                 
        <% 
          @case_entries = nil

          dt = DateTime.new(params[:data_year].to_i)
          boy = dt.beginning_of_year
          eoy = dt.end_of_year
          @case_entries = FileMatter.where("TO_DATE(case_date, 'MM/DD/YY')  BETWEEN ? AND ?", boy, eoy).where("practice_code <> ''").where("practice_code IS NOT NULL").where(id: @assigned)
        %>
        <% 
          #  results = @case_entries.map { |u| [u.practice_code, u.file_code] } 
        %>

        <% @practices = Array.new
           @data = Array.new 
           @grand_time = Array.new
           @case_entries.each do |fm|
             @practices << fm.practice_code
           end 
           @x = @practices.group_by(&:itself).map { |k,v| [k, v.length] }.to_h
        
           @x.each do |key, value|
             # puts "Bob's #{key} is #{value}"
             @total_hours = calculate_time_by_practice_code_per_lawyer(key, boy, eoy, params[:lawyer_id])
             @data << [key, @total_hours]
             @grand_time << @total_hours
           end
        %>

        
        <% @lawyer_name = Lawyer.find(params[:lawyer_id]) %>
        <td colspan="5">
          <script>
            $(function () {
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 1,//null,
                        plotShadow: false
                    },
                    title: {
                        text: '<%= raw(@lawyer_name.full_name)%>'
                    },
                    subtitle:{
                        text: 'Year: <%=raw(params[:data_year])%>'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'blue'
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Practice Areas',
                        data: <%= raw(@data) %>

                        // [ 
                        //     ['Firefox',   45.0],
                        //     ['IE',       26.8],
                        //     // ['Safari',    8.5],
                        //     // ['Opera',     6.2],
                        //     // ['Others',   0.7]
                        // ]
                    }]
                });
            });
          </script>
          <div id="container" style="width: 100%; height: 600px; margin: 0 auto"></div>
        </td>
        <tr><td colspan=5><strong>TOTAL TIME RENDERED :</strong>&nbsp;<%= @grand_time.inject(:+).to_f %>&nbsp;HRS</td></tr>
        <tr>
          <td colspan="2"><h5>Breakdown of File References Per Practices:</h5></td>
        </tr>
        <%  @z = @practices.group_by(&:itself).map { |k,v| [k, v.length] }.to_h %>
        <%  @z.each do |key, value| %>
          <tr>
              <td width="20%"><strong><%= key %></strong></td>
              <td width="20%"><strong>Total Hours: <%= calculate_time_by_practice_code_per_lawyer(key, boy, eoy, params[:lawyer_id]) %></strong></td>
              
          </tr>
        <% end %>
      <% end%>
      <!-- @x.each do |key, value|
             # puts "Bob's #{key} is #{value}"
             @total_hours = calculate_time_by_practice_code_per_client(key, @beginning_date, @ending_date, params[:client_code])
             @data << [key, @total_hours]
             @grand_time << @total_hours
           end -->

  </table>
</div>
