<div class="span10">
  <div class="pull-left">
  </div>
</div>
<br/>
<br/>              
<div class="span10">
  <% @lawyers_id = params[:lawyer_id] %>                        
  <table class="table table-striped" id="case_entries" >
      <% if @case_entries.blank? || @case_entries.nil? %>
        <tr><td colspan=5><center><h4> No data to show. </h4></center></td></tr>
      <% else %>
        <% @ca = @case_entries.uniq %>
        <% 
          results = @case_entries.map { |u| [u.practice_code, u.file_code] } 
        %>
        <% @practices = Array.new
           @data = Array.new 
           @data2 = Array.new 
           @case_entries.each do |fm|
             @practices << fm.practice_code
           end 
           @x = @practices.group_by(&:itself).map { |k,v| [k, v.length] }.to_h
        
           @x.each do |key, value|
             # puts "Bob's #{key} is #{value}"
             @data << key
             @data2 << value
           end

        %>

        <%  if params[:beginning_date].nil? || params[:beginning_date].empty? 
              @beginning_date = Date.today.at_beginning_of_month
              @ending_date = Date.today
            else 
              @beginning_date = params[:beginning_date]
              @ending_date = params[:ending_date]
            end
        %>

        <% @lawyer_name = Lawyer.find(@lawyers_id) %>
        <tr>
          <td colspan="5">
            <script>
              $(function () {
                  $('#container').highcharts({
                      chart: {
                          type: 'bar'
                      },
                      title: {
                          text: '<%= raw(@lawyer_name.full_name)%>'
                      },
                      subtitle: {
                          text: 'Period Covers: <%=raw(@beginning_date)%> - <%=raw(@ending_date)%>'
                      },
                      xAxis: {
                          // categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
                          categories: <%= raw(@data) %>,
                          title: {
                              text: null
                          }
                      },
                      yAxis: {
                          min: 0,
                          title: {
                              text: 'File Reference Per Practices',
                              align: 'high'
                          },
                          labels: {
                              overflow: 'justify'
                          }
                      },
                      tooltip: {
                          valueSuffix: 'Total'
                      },
                      plotOptions: {
                          bar: {
                              dataLabels: {
                                  enabled: true
                              }
                          }
                      },
                      legend: {
                          layout: 'vertical',
                          align: 'right',
                          verticalAlign: 'top',
                          x: -40,
                          y: 100,
                          floating: true,
                          borderWidth: 1,
                          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                          shadow: true
                      },
                      credits: {
                          enabled: false
                      },
                      series: [{
                          name: 'Total File Reference Handled',
                          // data: [107, 31, 835, 203, 2, 50, 33, 23, 34, 12]
                          data: <%= raw(@data2) %>
                      }
                      // }, 

                      // {
                      //     name: 'Year 1900',
                      //     data: [133, 156, 947, 408, 6, 50, 33, 23, 34, 12]
                      // }, 

                      // {
                      //     name: 'Year 2008',
                      //     data: [973, 914, 4054, 732, 34, 50, 33, 23, 34, 12]
                      // }

                      ]
                  });
              });
            </script>
            <div id="container" style="width: 100%; height: 600px; margin: 0 auto"></div>
          </td>
        </tr>  
        <tr><td colspan=5><strong>TOTAL ACTIVE CASE/S OPEN :</strong><%= @practices.count %></td></tr>
      
        <tr>
          <td colspan="2"><h5>Breakdown of File References Per Practices:</h5></td>
        </tr>
        <%  @x.each do |key, value| %>
          <tr>
              <td width="20%"><strong><%= key %></strong></td>
              <td width="20%"><strong>Total: <%= value %></strong></td>
              <td width="60%">
                <% results.each do |res, c| %>
                  <% if key == res %>
                     <p><%= c %>&nbsp;[<%= fm_case_title(c)%>]</p>
                  <% end %>
                <% end %>
              </td>
          </tr>
        <% end %>
      <% end%>
  </table>
</div>