<div class="panel">
  <div class="panel-heading"><h3>Case Entries</h3></div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Search</div>
    <div class="row">
      <div class="span11">
      <%= form_for case_entries_path, :method => 'get' do %>
          <div class="span3">
              File Reference No. :<br/>
              <%= autocomplete_field_tag :file_matter_id, nil, autocomplete_file_matter_file_code_case_entries_path, :required => false %>
          </div>
          <div class="span3">    
              Date From: <br/>
              <%= text_field_tag :beginning_date, nil,  :id => "datepicker_beg"%>
          </div>
          <div class="span3">
              Date To: <br/>
              <%= text_field_tag :ending_date, nil,  :id => "datepicker_end"%>
          </div>
          <div class="span3">
              Client: <br/>
              <%= text_field_tag :client %>
          </div>
          <div class="span3">
              Case Title: <br/>
              <%= text_field_tag :case_title %>
          </div>

          <div class="span10">
            <div class="pull-right">
                  <%= submit_tag "Search" %>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Case Lists</div>
    <div class="row">
      <div class="span11">
        <div class="pull-left">
          <%= link_to "Create Entry",
                    new_case_entry_path,
                    :class => 'btn btn-primary' %>
        </div>
        <div class="pull-right" style="margin-right: -40px;">
          <%= link_to "Download as PDF <i class='icon-download-alt'></i>".html_safe, case_entries_path(params.merge(format: 'pdf')), :class => "btn btn-primary" %>   
        </div>

      </div>
      <br/>
      <br/>              
      <div class="span11">                        
        <table class="table table-striped" id="case_entries">
          <thead>
            <tr>
              <th width="10%"><center>Entry Date</center></th>
              <th width="10%"><center>File Ref No.</center></th>
              <th width="20%"><center>Client</center></th>
              <th width="21%"><center>Case Title</center></th>
              <th width="8%"><center>Initial</center></th>
              <th width="10%"><center>Start Time</center></th>
              <th width="10%"><center>End Time</center></th>
              <th width="10%"><center>Action</center></th>
            </tr>
          </thead>
          <tbody>
            <% @case_entries.each do |case_entry| %>
              <tr>
                <td data-title=""><center><%= case_entry.entry_date %></center></td>
                <td data-title=""><center><%= case_entry.file_matter_id %></center></td>
                <% @client = Client.find(:all, :conditions => { :id => case_entry.client_id} ) %>
                <td><% @client.each do |x| %>
                      <%= x.name %>
                    <% end %>
                </td>    
                <td><%#= case_entry.file_matter_case %><%= case_entry.case_title %></td>
                <% @lawyers_initial = Lawyer.where("id = ?", case_entry.lawyer_id) %>
                <td><center>
                  <% @lawyers_initial.each do |initials| %>
                    <%= initials.initials %>
                  <% end %>
                </center></td>
                <td><center><%= case_entry.time_spent_from %></center></td>
                <td><center><%= case_entry.time_spent_to %></center></td>
                
                <!-- Pop Up Editing -->
                <% if params[:beginning_date].present? && params[:ending_date].present? || params[:file_matter_id].present? || params[:client].present? || params[:case_title].present? %>
                  <div id="<%= case_entry.id %>" class="modal hide fade" style="width: 65%; height: auto; left:40%; overflow-y: hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="myModalLabel">Quick Edit of Case Entry</h3>
                    </div>
                    <% @ce = CaseEntry.find(case_entry.id) %>                  
                    <%= simple_form_for(@ce, :url => modify_case_entry_path(@case_entry), :html => { :method => :post }) do |f| %>  
                      <div class="modal-body">
                        <div class="form-inputs">
                          <div class="span6">
                            <%= hidden_field_tag :id, case_entry.id %>
                            <p><b>File Reference No. :</b>
                              <%= f.autocomplete_field :file_matter_id, autocomplete_file_matter_file_code_case_entries_path, :required => true, :class => "case_entry_file_matter_id" %>
                            </p>
                            <p><b>Client :</b>&nbsp;<%= f.text_field :client_name, :readonly => true %></p>
                            <p><b>Case Title :</b>&nbsp;<%= f.text_field :case_title,:readonly => true %></p>
                            <p><b>Case No. :</b>&nbsp;<%= f.text_field :file_matter_case,:readonly => true %></p>
                            <p><b>Assigned Lawyer :</b>&nbsp;<%= @ce.lawyer.full_name %></p>
                          </div>
                          <div class="span2">
                            <%= f.label :entry_date, "Date:" %>
                            <%= f.text_field :entry_date, :id => 'datepicker123', :class => "entry_date", :required => true %>  
                          </div>
                          <div class="span3">
                            <div class="input-append" style="padding-left: 10px;">
                              <%= f.label :time_spent_from, "Start Time:" %>
                              <%= f.text_field :time_spent_from, :class => "input-small", :required => true %>
                              <!-- <span class="add-on"><i class="icon-time"></i></span> -->
                            </div>

                            <div class="input-append" style="padding-left: 30px;">
                              <%= f.label :time_spent_to, "End Time:" %>
                              <%= f.text_field :time_spent_to, :class => "input-small", :required => true %>
                              <!-- <span class="add-on"><i class="icon-time"></i></span> -->
                            </div>
                          </div>
                          <div class="span6">
                            <%= f.label :work_particulars, "Work Particulars:"%>  
                            <%= f.text_area :work_particulars, :rows => 8, :cols => 30, :class => "text_area" %>
                            <%= hidden_field_tag :file_matter_id, params[:file_matter_id]%>
                            <%= hidden_field_tag :beginning_date, params[:beginning_date]%>
                            <%= hidden_field_tag :ending_date, params[:ending_date]%>
                            <%= hidden_field_tag :pfr, params[:pfr] %>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <!-- <button class="btn btn-primary">Save changes</button> -->
                        <%= f.button :submit, "Update Changes", :class => "btn btn-primary" %>
                      </div>
                    <% end %>
                  </div> 
                <% end %>  

                <td><center>
                  <% if params[:beginning_date].present? && params[:ending_date].present? || params[:file_matter_id].present? || params[:client].present? || params[:case_title].present? %>
                    <a href="#<%= case_entry.id %>" role="button" class="btn btn-success btn-mini" data-toggle="modal">Edit</a>
                  <% else %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_case_entry_path(case_entry), :class => 'btn btn-mini' %>
                  <% end %>

                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              case_entry_path(case_entry),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-mini btn-danger' %>
                  </center>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>
        <div class="pull-right">
          <%= will_paginate @case_entry, :param_name => 'page', previous_label: "<i class='icon-chevron-left'></i>".html_safe, next_label: "<i class='icon-chevron-right'></i>".html_safe %>
        </div>
      </div>
      <div class="span2">
      <%= link_to "Create Entry",
                  new_case_entry_path,
                  :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
  
</div>
  <script>
    // $('#case_entries').dataTable( {
    //   "aaSorting": [[ 0, "desc" ]],
    //   "aoColumns": [
    //     { "bSearchable": true, "bSortable": true },
    //     { "bSearchable": true, "bSortable": true },
    //     { "bSearchable": true, "bSortable": true },
    //     { "bSearchable": true, "bSortable": true },
    //     { "bSearchable": true, "bSortable": true },
    //     { "bSearchable": true, "bSortable": true },
    //     { "bSearchable": true, "bSortable": true },
    //     { "bSearchable": false, "bSortable": false }
    //   ],
    //   "sPaginationType": "bootstrap"
    // } );
    
    $(function() {
      $('#datepicker_beg').datepicker({format: 'yyyy-mm-dd'});
      $('#datepicker_end').datepicker({format: 'yyyy-mm-dd'});
      $('#datepicker123').datepicker({format: 'yyyy-mm-dd'});
      $('#case_entry_time_spent_from').ptTimeSelect();
      $('#case_entry_time_spent_to').ptTimeSelect();
    });

    $(document).ready(function() {
      $('.case_entry_file_matter_id').blur(function(){
        $.ajax({
          url: "<%= update_case_entry_path %>",
          data: {
            case_entry_file_matter_id : $('.case_entry_file_matter_id').val()
          },
          dataType: "script"
        });
      });
    });  
  </script>            
