<div class="page-header">
  <h3>Case Reports</h3>
</div>
<div class="row">
	<div class="span12 ">
		<%= form_for case_entries_search_path, :method => 'get' do %>
			<table class="table well" >
			  <thead>		
				<tr>
					<td>
						<%#= text_field :file_matter_id, :url => autocomplete_file_matter_file_code_case_entries_path, :as => :autocomplete, :required => false, :label => "File Reference No.:" %>
						<%#= select_tag(:file_matter_case, options_from_collection_for_select(@file_matters, :case_number, :case_number, params[:file_matter_case]), {:id => 'file_matter_case', :prompt => "Select From List"})%>
						<%= label :file_matter_id,  "File Reference No. :" %>
						<%= autocomplete_field_tag :file_matter_id, nil, autocomplete_file_matter_file_code_case_entries_path, :required => false %>
					</td>	
					<td>
						<%#= text_field :case_number, :url => autocomplete_file_matter_case_number_case_entries_path, :as => :autocomplete, :required => false, :label => "Case Number:" %>
						<%= label :case_number,  "Case Number:" %>
						<%= autocomplete_field_tag :case_number, nil, autocomplete_file_matter_case_number_case_entries_path, :required => false %>
					</td>
					<td>
						<%= label :beginning_date,  "Date From:" %>
						<%= text_field_tag :beginning_date, nil,  :id => "datepicker_beg"%>
					</td>
					<td>
						<%= label :ending_date, "Date To:" %>
						<%= text_field_tag :ending_date, nil,  :id => "datepicker_end"%>
					</td>
				</tr>
				<tr><td colspan="4"><div class="pull-right">
					    <%= submit_tag "Search" %>
				</div></td></tr>
			  </thead>		
			</table>
		<% end %>
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	<div class="pull-right" width="100%">
  		<%= link_to admin_side_index_path(params.merge(format: 'pdf')), :class => "btn btn-mini", :rel => "tooltip", :title => "Download To PDF" do %>
          	<li class="icon-download-alt"></li>
      	<% end %> 
    </div>
	<div class="span12">
		<% if !@case_listings.blank? %>
			<% @file_matter_info.each do |fmi| %>
			<table class="table table-condensed" width="90%">
				<tr>
					<td colspan="2"><center><h3>Lawyers Timesheet</h3></center></td>
				</tr>
				<tr>
					<td width="10%">Matter :</td>
					<td width="80%">
						<%= fmi.title %><br/>
						<%= fmi.case_number %><br/>
						<%= fmi.file_code %>
					</td>
				</tr>
				<tr>
					<td width="10%">Client :</td>
					<% @client_name = Client.find(fmi.client_id)%>
					<td width="80%"><%= @client_name.name %></td>
				</tr>
				<% @assigned_lawyers = AssignedLawyer.find(:all, :conditions => { :file_matter_id => fmi.id } ) %>
				<% @assigned_lawyers.each do |al| %>
				<tr>
					<td colspan="2">
						<br/>
						<table class="table table-condensed" width="80%">
							<tr>
								<td width="10%"><center>Attorney : </center></td>
								<td width="70%"><strong><%= al.lawyer.full_name %></strong>, <italic><%= al.lawyer.position %></italic></td>
							</tr>
						</table>
						<br/>

						<table class="table table-condensed" width="90%">
							<thead>
								<tr class="success">
									<th width="15%"><center>Date</center></th>
									<th width="65%"><center>Work Particulars</center></th>
									<th width="10%"><center>Time Spent</center></th>
								</tr>
							</thead>
							<tbody>
								<% @total_hours = Array.new %>
								<% @case_entries = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :lawyer_id => al.lawyer_id }  )%>
								<% @case_entries.each do |ce| %>
									<tr class="info">
										<td width="15%"><center><%= ce.entry_date %></center></td>
										<td width="65%"><%= ce.work_particulars %></td>
										<% @start_time = Time.strptime(ce.time_spent_from, '%I:%M %P') %>
										<% @end_time = Time.strptime(ce.time_spent_to, '%I:%M %P') %>
										<% @time_spent = @end_time - @start_time %>
										<% @value = Time.at(@time_spent).utc.strftime('%I.%M') %>
										<% @total_hours << @value.to_f %>
										<td width="10%"><center><%= @value %></center></td>
									</tr>
								<% end %>
								<tr class="success">
									<td colspan="2" width="80%" align="right"><strong>Total Hours Spent : </strong></td>
									<td width="10%"><center><strong><%= @total_hours.inject(:+).to_f %></strong></center></td>
								</tr>
							</tbody>
						</table>							
					</td>
				</tr>
				<% end %>
			</table>

			<% end %>
		<% else %>
			<h2>No Records Found.</h2>
		<% end %>		
	</div>
</div>
<script>
	$(function() {
  		$('#datepicker_beg').datepicker({format: 'yyyy-mm-dd'});
  		$('#datepicker_end').datepicker({format: 'yyyy-mm-dd'});
  	});
</script>
										
										
											  

											
											 