<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <Worksheet ss:Name="Sheet1">
   <Table>
     

     <Row>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String">TIMESHEET</Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
     </Row>
     <Row>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String">For the period <%= @start_date.to_time.strftime('%B %d, %Y') %> up to <%= @end_date.to_time.strftime('%B %d, %Y') %></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
     </Row>
     <Row>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String"></Data></Cell>
     </Row>
      <% @file_matter_info.each do |fmi| %>

         <Row>
           <Cell><Data ss:Type="String">MATTER :</Data></Cell>
           <Cell><Data ss:Type="String"></Data></Cell>
           <Cell><Data ss:Type="String"><%= fmi.title %></Data></Cell>
         </Row> 
         <Row>
           <Cell><Data ss:Type="String"></Data></Cell>
           <Cell><Data ss:Type="String"></Data></Cell>
           <Cell><Data ss:Type="String"><%= fmi.case_number %></Data></Cell>
         </Row>
         <Row>
           <Cell><Data ss:Type="String"></Data></Cell>
           <Cell><Data ss:Type="String"></Data></Cell>
           <Cell><Data ss:Type="String"><%= fmi.file_code %></Data></Cell>
         </Row> 
         <% @client_name = Client.find(fmi.client_id)%>
         <Row>
           <Cell><Data ss:Type="String">CLIENT :</Data></Cell>
           <Cell><Data ss:Type="String"></Data></Cell>
           <Cell><Data ss:Type="String"><%= @client_name.name %></Data></Cell>
         </Row> 
         <Row>
           <Cell><Data ss:Type="String"></Data></Cell>
         </Row>
         
         <% @assigned_lawyers = AssignedLawyer.find(:all, :conditions => { :file_matter_id => fmi.id } ) %>
         <% @assigned_lawyers.each do |al| %>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String">ATTORNEY :</Data></Cell>
              <Cell><Data ss:Type="String"><%= al.lawyer.full_name %>, <%= al.lawyer.position %></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String">DATE</Data></Cell>
              <Cell><Data ss:Type="String">WORK PARTICULARS</Data></Cell>
              <Cell><Data ss:Type="String">TIME SPENT</Data></Cell>
            </Row>

              <% @total_hours = Array.new %>
                        
              <% if params[:file_matter_id].blank? && params[:case_number].blank? %>
                <% @case_entries = CaseEntry.find(:all, :conditions => { :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
              <% elsif !params[:file_matter_id].blank? && params[:case_number].blank? %>
                <% @case_entries = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
              <% elsif params[:file_matter_id].blank? && !params[:case_number].blank? %>
                <% @case_entries = CaseEntry.find(:all, :conditions => { :file_matter_case => params[:case_number], :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
              <% else%>
                <% @case_entries = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :file_matter_case => params[:case_number], :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
              <% end %>

              <% @hours = Array.new %>
              <% @minutes = Array.new %>
              
              <% @case_entries.each do |ce| %>

                  <% @start_time = Time.strptime(ce.time_spent_from, '%I:%M %P') %>
                  <% @end_time = Time.strptime(ce.time_spent_to, '%I:%M %P') %>
                  <% @time_spent = @end_time - @start_time %>
                  <% @hh = Time.at(@time_spent).utc.strftime('%I') %>
                  
                  <% if @hh == '12' %>
                    <% @hh = '00' %>
                  <% else %>
                    <% @hh = @hh %>
                  <% end %>
                  
                  <% @mm = Time.at(@time_spent).utc.strftime('%M') %>
                  <% @value = @hh+"."+@mm %>
                  <% @total_hours << @value.to_f %>
                  <% @x = @value.to_s %>
                  <% @xx = @x.split(".") %>
                  <% @hours << @xx[0].to_i %>
                  <% @minutes << @xx[1].to_i %>
                  <% @hr_reg = @hours.inject(:+) %>
                  <% @min_reg = @minutes.inject(:+) %>
                  
                  <% if @min_reg >= 60 %>
                    <% @hr_reg = (@min_reg / 60) + @hr_reg %>
                    <% @min_reg = @min_reg % 60 %>
                  <% end %>
                  
                  <Row>
                    <Cell><Data ss:Type="String"></Data></Cell>
                    <Cell><Data ss:Type="String"><%= ce.entry_date %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= ce.work_particulars %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= @value %></Data></Cell>
                  </Row>

              <% end %>
              <Row>
                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell><Data ss:Type="String">TOTAL HOURS SPENT :</Data></Cell>
                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell><Data ss:Type="String"><%= @total_hours = @hr_reg.to_s+"."+@min_reg.to_s %></Data></Cell>
              </Row>
               <Row>
                <Cell><Data ss:Type="String"></Data></Cell>       
              </Row>
              <Row>
                    <Cell><Data ss:Type="String"></Data></Cell>       
              </Row>
         <% end %>

          <Row>
                <Cell><Data ss:Type="String"></Data></Cell>       
          </Row>
          <Row>
                <Cell><Data ss:Type="String"></Data></Cell>       
          </Row>
         
          <Row>
                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell><Data ss:Type="String">SUMMARY OF HOURS AND TIME CHARGES</Data></Cell>
          </Row>
          <Row>
                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell><Data ss:Type="String">LAWYER</Data></Cell>
                <Cell><Data ss:Type="String">HOURS</Data></Cell>
                <Cell><Data ss:Type="String">RATE PER HOUR</Data></Cell>
                <Cell><Data ss:Type="String">TOTAL CHARGES</Data></Cell>
          </Row>

         
              <% @totals_all = Array.new %>
              <% @assigned_lawyers_list = AssignedLawyer.find(:all, :conditions => { :file_matter_id => fmi.id } ) %>
              <% @assigned_lawyers_list.each do |laws| %>

                  <% @total_hours2 = Array.new %>
                  <% @hours2 = Array.new %>
                  <% @minutes2 = Array.new %>
                  <%# @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :file_matter_case => params[:case_number], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date]..params[:ending_date] }  )%>
                  <% if params[:file_matter_id].blank? && params[:case_number].blank? %>
                    <% @case_entries2 = CaseEntry.find(:all, :conditions => { :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
                  <% elsif !params[:file_matter_id].blank? && params[:case_number].blank? %>
                    <% @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
                  <% elsif params[:file_matter_id].blank? && !params[:case_number].blank? %>
                    <% @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_case => params[:case_number], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
                  <% else%>
                    <% @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :file_matter_case => params[:case_number], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
                  <% end%>

                  <% @case_entries2.each do |ce2| %>
                    
                      <% @start_time2 = Time.strptime(ce2.time_spent_from, '%I:%M %P') %>
                      <% @end_time2 = Time.strptime(ce2.time_spent_to, '%I:%M %P') %>
                      <% @time_spent2 = @end_time2 - @start_time2 %>
                      
                      
                      <% @hh2 = Time.at(@time_spent2).utc.strftime('%I') %>
                      <% if @hh2 == '12' %>
                        <% @hh2 = '00' %>
                      <% else %>
                        <% @hh2 = @hh2 %>
                      <% end%>

                      <% @mm2 = Time.at(@time_spent2).utc.strftime('%M') %>
                      <% @value2 = @hh2+"."+@mm2 %>
                      <% @total_hours2 << @value2.to_f %>
                      <% @x2 = @value2.to_s %>
                      <% @xx2 = @x2.split(".") %>
                      <% @hours2 << @xx2[0].to_i %>
                      <% @minutes2 << @xx2[1].to_i %>
                      <% @hr_reg2 = @hours2.inject(:+) %>
                      <% @min_reg2 = @minutes2.inject(:+) %>
                      
                      <% if @min_reg2 >= 60 %>
                        <% @hr_reg2 = (@min_reg2 / 60) + @hr_reg2 %>
                        <% @min_reg2 = @min_reg2 % 60 %>
                      <% end %>

                  <% end %>

                  <% @total_actual_hours =  @hr_reg2.to_s+"."+@min_reg2.to_s %>
                  <% @multiplier_hours =  ( @min_reg2.to_f / 60 ).round(2) %>
                  <% @total_multi = @hr_reg2 + @multiplier_hours %>
                  <% @total_hours_final = @total_multi * laws.lawyer.rate.to_f %>
                  <% @tah = number_with_precision(@total_actual_hours.to_f, :precision => 2, :delimiter => ',') %>
                  <% @lr = number_to_currency( laws.lawyer.rate, :unit => "Php  ") %>
                  <% @thf = number_to_currency( @total_hours_final, :unit => "Php  ")%>

                  <Row>
                    <Cell><Data ss:Type="String"></Data></Cell>
                    <Cell><Data ss:Type="String"><%= laws.lawyer.full_name %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= @tah %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= @lr %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= @thf %></Data></Cell>
                  </Row>
                <% @totals_all << @total_hours_final.to_f %>
              <% end %>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String">TOTAL</Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"><%= number_to_currency( @totals_all.inject(:+).to_f, :unit => "Php ") %></Data></Cell>
            </Row>  
      <% end %>     
   </Table>
 </Worksheet>
</Workbook>
