<div class="page-header">
  <h3 class="title">Timesheet</h3>
</div>
<div class="row">
	<div class="span12 ">
		<%= form_for case_entries_search_path, :method => 'get' do %>
			<table class="table well" width="100%">
			  <thead>		
				<tr>
					<td>
						<%#= text_field :file_matter_id, :url => autocomplete_file_matter_file_code_case_entries_path, :as => :autocomplete, :required => false, :label => "File Reference No.:" %>
						<%#= select_tag(:file_matter_case, options_from_collection_for_select(@file_matters, :case_number, :case_number, params[:file_matter_case]), {:id => 'file_matter_case', :prompt => "Select From List"})%>
						<%#= label :file_matter_id,  "File Reference No. :" %>
						File Reference No. :<br/>
						<%= autocomplete_field_tag :file_matter_id, nil, autocomplete_file_matter_file_code_case_entries_path, :required => false %>
					</td>	
					<td>
						<%#= label :beginning_date,  "Date From:" %>
						Date From:<br/>
						<%= text_field_tag :beginning_date, nil,  :id => "datepicker_beg"%>
					</td>
					<td>
						<%#= label :ending_date, "Date To:" %>
						Date To:<br/>
						<%= text_field_tag :ending_date, nil,  :id => "datepicker_end"%>
					</td>
				</tr>
				<tr><td colspan="4"><div class="pull-right">
					    <%= submit_tag "Search" %>
				</div></td></tr>
			  </thead>		
			</table>
		<% end %>
	</div>
</div>
<div class="clearfix"></div>

<div class="row">
	
	<div class="span12">
		<% if !@case_listings.nil? %>

			<div class="pull-right" width="100%">
		  		<%= link_to "Download as PDF <i class='icon-download-alt'></i>".html_safe, search_entry_path(params.merge(format: 'pdf')), :class => "btn btn-primary" %> 	
		  		<%= link_to "Download as EXCEL <i class='icon-download-alt'></i>".html_safe, search_entry_path(params.merge(format: 'xls')), :class => "btn btn-primary" %>
		    	<br/>
		    </div>
			<div class="clearfix"></div>
			<% @file_matter_info.each do |fmi| %>
			<table class="table table-condensed" width="90%" >
				<tr>
					<td colspan="2">
						<center>
							<h3>Timesheet</h3>
							For the period <%= @start_date.to_time.strftime('%B %d, %Y') %> up to <%= @end_date.to_time.strftime('%B %d, %Y') %>
						</center>
						<br/>
					</td>
				</tr>

				<tr>
					<td width="10%">MATTER :</td>
					<td width="80%">
						<%= fmi.title %><br/>
						<%= fmi.case_number %><br/>
						<%= fmi.file_code %>
					</td>
				</tr>
				<tr>
					<td width="10%">CLIENT :</td>
					<% @client_name = Client.find(fmi.client_id)%>
					<td width="80%"><%= @client_name.name %></td>
				</tr>
				<% @assigned_lawyers = AssignedLawyer.find(:all, :conditions => { :file_matter_id => fmi.id } ) %>
				<% @assigned_lawyers.each do |al| %>
					<% @total_hours = Array.new %>
												
					<% if params[:file_matter_id].blank? && params[:case_number].blank? %>
						<% @case_entries = CaseEntry.find(:all, :conditions => { :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
					<% elsif !params[:file_matter_id].blank? && params[:case_number].blank? %>
						<% @case_entries = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
					<% elsif params[:file_matter_id].blank? && !params[:case_number].blank? %>
						<% @case_entries = CaseEntry.find(:all, :conditions => { :file_matter_case => params[:case_number], :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
					<% else%>
						<% @case_entries = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :file_matter_case => params[:case_number], :lawyer_id => al.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }, :order => "entry_date DESC"  )%>
					<% end%>
					<% if !@case_entries.empty? %>
					<tr>
						<td colspan="2">
							<table class="table table-condensed" width="100%">
								<tr>
									<td width="10%">ATTORNEY :</td>
									<td ><strong><%= al.lawyer.full_name %></strong>, <italic><%= al.lawyer.position %></italic></td>
								</tr>
								<tr><td colspan="2">&nbsp;</td></tr>
								<tr>
									<td colspan="2">
										<table class="table table-condensed" width="80%">
											
												<tr class="success">
													<th width="15%" style="text-align:left;padding-left:10px">DATE</th>
													<th width="65%"><center>WORK DESCRIPTIONS / PARTICULARS</center></th>
													<th width="10%" style="text-align:right;padding-right:10px"><center>TIME SPENT</center></th>
												</tr>
													<% @hours = Array.new %>
													<% @minutes = Array.new %>
													<% @case_entries.each do |ce| %>
														<tr class="info">
															<td width="15%" style="text-align:left;padding-left:10px"><%= ce.entry_date %></td>
															<td width="65%"><%= ce.work_particulars %></td>
															<% @start_time = Time.strptime(ce.time_spent_from, '%I:%M %P') %>
															<% @end_time = Time.strptime(ce.time_spent_to, '%I:%M %P') %>
															<% @time_spent = @end_time - @start_time %>
															<% @hh = Time.at(@time_spent).utc.strftime('%I') %>
															<% if @hh == '12' %>
																<% @hh = '00' %>
															<% else %>
																<% @hh = @hh %>
															<% end%>
															<% @mm = Time.at(@time_spent).utc.strftime('%M') %>
															<% @value = @hh+"."+@mm %>
															<%# @total_hours << @value.to_f %>
															<% @x = @value.to_s %>
															<% @xx = @x.split(".") %>
															<% @hours << @xx[0].to_i %>
															<% @minutes << @xx[1].to_i %>
															<% @hr_reg = @hours.inject(:+) %>
															<% @min_reg = @minutes.inject(:+) %>
															<% if @min_reg >= 60 %>
																<% @hr_reg = (@min_reg / 60) + @hr_reg %>
																<% @min_reg = @min_reg % 60 %>
															<% end %>
															<td width="10%" style="text-align:right;padding-right:10px"><%= @value %></td>
														</tr>
													<% end %>
													<tr class="success">
														<td colspan="2" class="text-right"><strong>TOTAL HOURS SPENT : </strong></td>
														<td width="10%" style="text-align:right;padding-right:10px"><strong>
																<% if @min_reg < 10 %>
																	<% @new_min = "0"+@min_reg.to_s %>
																<% else %>
																	<% @new_min = @min_reg.to_s %>
																<% end %>	

																<%= @total_hours = @hr_reg.to_s+"."+@new_min %>
																<%# number_with_precision(@total_hours.to_f, :precision => 2, :delimiter => ',') %>
															</strong></td>
													</tr>
												
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<% else %>

					<% end %>
				<% end %>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td colspan="2">
						<table class="table table-borderless table-condensed" width="80%">
							<tr>
								<td colspan="4"><center><h4>SUMMARY OF HOURS AND TIME CHARGES</h4></center></td>
							</tr>
							<tr>
								<th width="40%" style="text-align:left;padding-left:10px">LAWYER</th>
								<th width="10%"><center>HOURS</center></th>
								<th width="20%"><center>RATE PER HOUR</center></th>
								<th width="10%" style="text-align:right;padding-right:10px">TOTAL CHARGES</th>
							</tr>
							<% @totals_all = Array.new %>
							<% @assigned_lawyers_list = AssignedLawyer.find(:all, :conditions => { :file_matter_id => fmi.id } ) %>
							<% @assigned_lawyers_list.each do |laws| %>
								<% @total_hours2 = Array.new %>
								<% @hours2 = Array.new %>
								<% @minutes2 = Array.new %>
								<%# @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :file_matter_case => params[:case_number], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date]..params[:ending_date] }  )%>
								<% if params[:file_matter_id].blank? && params[:case_number].blank? %>
									<% @case_entries2 = CaseEntry.find(:all, :conditions => { :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
								<% elsif !params[:file_matter_id].blank? && params[:case_number].blank? %>
									<% @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
								<% elsif params[:file_matter_id].blank? && !params[:case_number].blank? %>
									<% @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_case => params[:case_number], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
								<% else%>
									<% @case_entries2 = CaseEntry.find(:all, :conditions => { :file_matter_id => params[:file_matter_id], :file_matter_case => params[:case_number], :lawyer_id => laws.lawyer_id, :entry_date => params[:beginning_date] .. params[:ending_date] }  )%>
								<% end%>
								
								<% if !@case_entries2.empty? %>	
									<% @case_entries2.each do |ce| %>
										<% @start_time2 = Time.strptime(ce.time_spent_from, '%I:%M %P') %>
										<% @end_time2 = Time.strptime(ce.time_spent_to, '%I:%M %P') %>
										<% @time_spent2 = @end_time2 - @start_time2 %>
										<%# @value2 = Time.at(@time_spent2).utc.strftime('%I.%M') %>
										<%# @total_hours2 << @value2.to_f %>
										<% @hh2 = Time.at(@time_spent2).utc.strftime('%I') %>
										<% if @hh2 == '12' %>
											<% @hh2 = '00' %>
										<% else %>
											<% @hh2 = @hh2 %>
										<% end%>
										<% @mm2 = Time.at(@time_spent2).utc.strftime('%M') %>
										<% @value2 = @hh2+"."+@mm2 %>
										<%# @total_hours2 << @value2.to_f %>
										<% @x2 = @value2.to_s %>
										<% @xx2 = @x2.split(".") %>
										<% @hours2 << @xx2[0].to_i %>
										<% @minutes2 << @xx2[1].to_i %>
										<% @hr_reg2 = @hours2.inject(:+) %>
										<% @min_reg2 = @minutes2.inject(:+) %>
										<% if @min_reg2 >= 60 %>
											<% @hr_reg2 = (@min_reg2 / 60) + @hr_reg2 %>
											<% @min_reg2 = @min_reg2 % 60 %>
										<% end %>
									<% end %>
									<tr class="info">
									  <td width="40%" style="text-align:left;padding-left:10px"><%=  laws.lawyer.full_name %></td>
									  <%# @total_actual_hours = @total_hours2.inject(:+) %>

									    <% if @min_reg2 < 10 %>
											<% @new_min2 = "0"+@min_reg2.to_s %>
										<% else %>
											<% @new_min2 = @min_reg2.to_s %>
										<% end %>
									  <% @total_actual_hours =  @hr_reg2.to_s+"."+@new_min2 %>
									  <% @multiplier_hours =  ( @min_reg2.to_f / 60 ).round(2) %>
									  <% @total_multi = @hr_reg2 + @multiplier_hours %>
									  <td width="10%" ><center><%=  number_with_precision(@total_actual_hours.to_f, :precision => 2, :delimiter => ',') %></center></td>
									  <td width="20%"><center><%=  number_to_currency( laws.lawyer.rate, :unit => "Php 	") %></center></td>
									  <td width="10%" style="text-align:right;padding-right:10px" >
									  	<%  @total_hours_final = @total_multi * laws.lawyer.rate.to_f %>
									  	<%=  number_to_currency( @total_hours_final, :unit => "Php 	") %>
									  </td>
									</tr>
									<% @totals_all << @total_hours_final.to_f %>
								<% else %>

								<% end %>
							<% end %>
							<tr class="success">
								<td colspan="3" width="60%" class="text-right"><strong>CHARGES :</strong></td>
								<td style="text-align:right;padding-right:10px"><strong><%= number_to_currency( @totals_all.inject(:+).to_f, :unit => "Php ") %></strong></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<% end %>
		<% else %>
			<h2>No Records Found.</h2>
		<% end %>		
	</div>
</div>
<script>
	$(function() {
  		$('#datepicker_beg').datepicker({format: 'yyyy-mm-dd'});
  		$('#datepicker_end').datepicker({format: 'yyyy-mm-dd'});
  	});
</script>
										
										
											  

											
											 
