<%= simple_form_for @file_matter, :html => { :class => 'form-horizontal' } do |f| %>
  		<%= f.input :file_code, :label => "File Reference No." %>
		<%= f.input :client_id, :collection => @clients.map {|u| [u.name, u.id] },  :include_blank => false %>
		<%= f.input :title %>
		<%= f.input :case_number %>
		<%=  f.fields_for :assigned_lawyers do |fl| %>
			<%= fl.input :lawyer_id, :collection => @lawyers.map {|u| ["#{u.first_name+" "+u.middle_name+" "+u.last_name}", u.id] },  :include_blank => true %>
		<% end %>
		<%= f.label "Date Open" %>
		<%= f.text_field :case_date, :id => 'datepicker123', :class => "case_date" %>
		
	  <div class="form-actions">
	    <%= f.button :submit, :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                file_matters_path, :class => 'btn' %>
	  </div>
	
<% end %>

<script>
	$(function() {
  		$('#datepicker123').datepicker({format: 'mm/dd/yy'});
  	});
</script>