<div class="panel panel-primary">
	<div class="row">
		<div class="span10">
			<%= simple_form_for @file_matter, :html => { :class => 'form-horizontal' } do |f| %>
		  	<div class="span3">
		  		<%= f.input :file_code, :label => "File Reference No.", :required => true %>
		  	</div>
		  	<div class="span3">	
					<%= f.input :client_id, :collection => @clients.map {|u| [u.name, u.id] },  :include_blank => false, :prompt => "---", :required => true %>
				</div>
				<div class="span3">	
					<%= f.input :cl_code_num, :label => "Client Code Num", :required => true %>
				</div>
				<div class="span3">	
					<%= f.input :cl_code_txt, :label => "Client Code Txt", :required => true %>
				</div>
				<div class="span3">	
					<%= f.input :practice_table_id, :collection => @practice_tables.map {|u| [u.practice_name, u.id] },  :include_blank => false, :prompt => "---", :required => true %>
				</div>
				<div class="span3">	
					<%= f.input :title, :label => "Case Title", :required => true %>
				</div>
				
				<div class="span3">
					<%= f.input :case_number, :label => "Case Number" %>
				</div>
				<div class="span3">
					<%= f.label :case_date, "Date Open" %>
					<%= f.text_field :case_date, :id => 'datepicker123', :class => "case_date" %>
				</div>
				<div class="span3">
					<%= f.input :currency_used, :collection => [ "Peso", "Dollar"] , :label =>  "Currency Billing" , :include_blank => false %> 
				</div>
				
				<div class="span3">
					<%#= f.input :case_pricing, :label => "Case Pricing (Optional)" %> 
				</div>


				<div class="span10" style="padding-top: 30px;">
					<div class="span3">
						<%= f.check_box :fixed_rate %>
						<div style="margin-top: -17px; padding-left: 20px;">Fixed Rate Price</div> 
					</div>
					<div class="span5" style="padding-bottom:20px;">
					<%= link_to_add_association 'Add Lawyer', f, :assigned_lawyers, :class => 'btn btn-success btn-mini', 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#lawlist' %>
					</div>

					<div class="span10" id="lawlist">
						<%= f.simple_fields_for :assigned_lawyers do |assigned_lawyers| %>
							<%= render 'assigned_lawyer_fields', :f => assigned_lawyers %>
						<% end %>
					</div>

				</div>

			  <div class="span10" style="padding-top: 30px; padding-bottom:20px;">
			    <%= f.button :submit, :class => 'btn btn-primary' %>
			    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			                file_matters_path, :class => 'btn' %>
			  </div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(function() {
  	$('#datepicker123').datepicker({format: 'mm/dd/yy'});
  });

  $(document).ready(function() {
	    $('#file_matter_client_id').blur(function(){
	      $.ajax({
	        url: "<%= add_client_code_path %>",
	        data: {
	          file_matter_client_id : $('#file_matter_client_id').val()
	        },
	        dataType: "script"
	      });
	    }); 
  	});
</script>
