<div class="panel">
  <div class="panel-heading"><h3>File Matters</h3></div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">Search</div>
    <div class="row">
      <div class="span11">
      <%= form_for file_matters_path, :method => 'get' do %>
          <div class="span3">
              File Reference No. :<br/>
              <%= autocomplete_field_tag :file_code, nil, autocomplete_file_matter_file_code_file_matters_path, :required => false %>
          </div>
          <div class="span3">
              Case Title:<br/>
              <%= autocomplete_field_tag :title, nil, autocomplete_file_matter_title_file_matters_path, :required => false %>
          </div>
          <div class="span11">
            <div class="pull-right">
                  <%= submit_tag "Search" %>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-primary panel-heading">File Matter Lists</div>
    <div class="row">
      <div class="span11">
        <div class="pull-right">
          <%= link_to "Backup in EXCEL File <i class='icon-download-alt'></i>".html_safe, file_matters_path(params.merge(format: 'xls')), :class => "btn btn-success" %>
        </div>
        <% if current_user.role != 'User' %>
          <%= link_to 'Create Entry',
                      new_file_matter_path,
                      :class => 'btn btn-primary' %>
          <br/>
          <br/>
        <% end %>
        <div class="row">
          <div class="span11">
            <table class="table table-striped" id="filematters">
              <thead>
                <tr>
                  <th width="15%"><center><%= sortable "file_code", "File Reference No." %></center></th>
                  <th width="35%"><center><%= sortable "title", "Case Title" %></center></th>
                  <th width="35%"><center><%= sortable "case_number", "Case No." %></center></th>
                  <th width="15%"><center><%=t '.actions', :default => t("helpers.actions") %></center></th>
                </tr>
              </thead>
              <tbody>
                <% @file_matters.each do |fm| %>
                  <tr>
                    <% 
                      if !fm.cl_code_txt.nil? || !fm.cl_code_txt.blank?
                        @filerefno = fm.file_code+"-"+fm.cl_code_txt
                      else
                        @filerefno = fm.file_code
                      end

                      if !fm.practice_code.nil? || !fm.practice_code.blank?
                        @filerefno = @filerefno+"-"+fm.practice_code
                      else
                        @filerefno = @filerefno
                      end
                    %>
                    <td><%= @filerefno %></td>
                    <td><%= fm.title %></td>
                    <td><%= fm.case_number %></td>
                    <td>
                      <% if current_user.role != 'User' %>
                        <center>
                          <%= link_to 'Edit',
                                      edit_file_matter_path(fm), :class => 'btn btn-mini' %>
                          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                      file_matter_path(fm),
                                      :method => :delete,
                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                      :class => 'btn btn-mini btn-danger' %>
                        </center>
                      <% else %>
                        <center>
                          Unavailable
                        </center>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pull-right">
              <%= will_paginate @file_matters, :param_name => 'page', previous_label: "<i class='icon-chevron-left'></i>".html_safe, next_label: "<i class='icon-chevron-right'></i>".html_safe %>
            </div>
          </div>
          
        </div>
        <% if current_user.role != 'User' %>
          <%= link_to 'Create Entry',
                      new_file_matter_path,
                      :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  // $('#filematters').dataTable( {
  //   "aoColumns": [
  //     { "bSearchable": true, "bSortable": true , "asSorting": [ "desc", "asc" ]},
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": true, "bSortable": true },
  //     { "bSearchable": false, "bSortable": false }
  //   ],
  //   "sPaginationType": "bootstrap"
  // } );
</script>
