<%- model_class = FileMatter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="dl-horizontal">
  <div class="span1">&nbsp;</div>
  <div class="span9">
    <span><strong>File Reference No. :</strong></span>
    <span>
      <% 
        if !@file_matter.cl_code_txt.nil? || !@file_matter.cl_code_txt.blank?
          @filerefno = @file_matter.file_code+"-"+@file_matter.cl_code_txt
        else
          @filerefno = @file_matter.file_code
        end

        if !@file_matter.practice_code.nil? || !@file_matter.practice_code.blank?
          @filerefno = @filerefno+"-"+@file_matter.practice_code
        else
          @filerefno = @filerefno
        end
      %>
      <%= @filerefno %>  
    </span><br/>
    <span><strong>Practice Area :</strong></span>
    <span><%= @file_matter.practice_table.practice_name %></span><br/>

    <span><strong>Practice Area Code :</strong></span>
    <span><%= @file_matter.practice_code %></span><br/>

    <span><strong>Client :</strong></span>
    <span><%= @file_matter.client.name %></span><br/>
   
    <span><strong>Client Code :</strong></span>
    <span><%= @file_matter.cl_code_txt %></span><br/>

    <span><strong>Case Title / Matter :</strong></span>
    <span><%= @file_matter.title %></span><br/>
    
    <span><strong>Case Number, if applicable: :</strong></span>
    <span><%= @file_matter.case_number %></span><br/>
    
    <span><strong>Date Opened :</strong></span>
    <span><%= @file_matter.case_date %></span><br/>
    
    <span><strong>Currency Billing :</strong></span>
    <span><%= @file_matter.currency_used %></span><br/>

    <span><strong>Assigned Lawyers :</strong></span><br/>
    <% @assigned_lawyers = AssignedLawyer.find(:all, :conditions => { :file_matter_id => params[:id] } ) %>
    <% @assigned_lawyers.each do |al| %>
      <div style="padding-left:30px;"><span><%= al.lawyer.full_name %></span></div>
    <% end %>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              file_matters_path, :class => 'btn btn-primary'  %>
  <%= link_to 'Next',
            new_file_matter_path,
            :class => 'btn btn-primary' %>            
  <%= link_to 'Edit',
              edit_file_matter_path(@file_matter), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              file_matter_path(@file_matter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>