<!DOCTYPE html>
<html>
<head>
  <title>Time Entry System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "highcharts" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Time Entry</a>
        <div class="nav-collapse">
          <% if user_signed_in? %>
            <ul class="nav">
              <% if current_user.role == 'Administrator' %>
                <li><%= link_to "Case Entries", case_entries_path %></li>
                <li><%= link_to "Clients", clients_path %></li>
                <li><%= link_to "Lawyers", lawyers_path %></li>
                <li><%= link_to "File/Matters", file_matters_path %></li>
                <li>  
                  <%= link_to "Timesheet", search_entry_path(:pfr => 1) %>
                </li>
                <li>  
                  <%= link_to "Users", account_users_path %>
                </li>
                <li>  
                  <%= link_to "Graphs", graphs_path(pfr: 1) %>
                </li>
                <!-- <li>  
                  <%#= link_to "Calls", calls_path %>
                </li>
                <li>  
                  <%#= link_to "Prints", printouts_path %>
                </li> -->
                <li>  
                  <%= link_to "Schedules", schedules_path %>
                </li>
                <li>  
                  <%= link_to "Practice Areas", practice_tables_path %>
                </li>
                <li><%= link_to "FNC", doc_abbreviations_path %></li>
              <% elsif current_user.role == 'Encoder-Call' %>
                <li>  
                  <%= link_to "Calls", new_call_path %>
                </li>
              <% elsif current_user.role == 'Encoder-Print' %>
                <li>  
                  <%= link_to "Prints", new_printout_path %>
                </li>
              <% elsif current_user.role == 'Billing Clerk'%>
                <li><%= link_to "Case Entries", case_entries_path %></li>
                <li><%= link_to "Clients", clients_path %></li>
                <li><%= link_to "Lawyers", lawyers_path %></li>
                <li><%= link_to "File/Matters", file_matters_path %></li>
                <li>  
                  <%= link_to "Timesheet", search_entry_path(:pfr => 1) %>
                </li>
                <!-- <li>  
                  <%#= link_to "Users", account_users_path %>
                </li> -->
                <li>  
                  <%= link_to "Calls", calls_path %>
                </li>
                <li>  
                  <%= link_to "Prints", printouts_path %>
                </li>
                <!-- <li>  
                  <%#= link_to "Practice Areas", practice_tables_path %>
                </li> -->
              <% elsif current_user.role == 'Front Desk' %>
                <li>  
                  <%= link_to "Schedules", schedules_path %>
                </li>
                <li><%= link_to "File/Matters", file_matters_path %></li>  
              <% else %>
                <li><%= link_to "Case Entries", case_entries_path %></li>
                <li><%= link_to "File/Matters", file_matters_path %></li>
                <li><%= link_to "Schedules", schedules_path %></li>
                <!-- <li><%#= link_to "Set Notification", notifications_path %></li> -->
                <li><%= link_to "Clients", clients_path %></li>
                <li><%= link_to "Practice Areas", practice_tables_path %></li>
                <li><%= link_to "FNC", doc_abbreviations_path %></li>
                    
              <% end %>  
            </ul>
          
            <ul class="nav pull-right">
              <% @notif = notification(current_user.id) %>
              <% if @notif != 0 %>
                <li>
                  <div style="margin-top: 10px;" title="notification" id="notification" data-toggle="modal"><span class="badge badge-important"><%= @notif %>&nbsp;new</span></div>
                </li>
              <% end %>
              <li>
                <%= link_to current_user.name, edit_user_registration_path(current_user) %>
              </li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <!-- notification container -->
  <% if user_signed_in? %>
    <div id="my_notification" class="modal hide fade" style="width: 65%; height: auto; left:40%; overflow-y: hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Today's Notification</h3>
      </div>
      <div class="modal-body">
        <table class="table ">
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Details</th>
            <th class="text-center"></th>
          </tr>
          <% @list_notification = list_notification(current_user.id) %>
          <% @list_notification.each do |ln| %>
            <tr>
              <td><%= ln.notification_title %></td>
              <td><%= ln.details %></td>
              <td>
                <%= link_to "Notified".html_safe, notified_notifications_path(params.merge(:id => ln.id)), title:"Notified", class: 'btn btn-info btn-mini' %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
      </div>  
    </div>
  <% end %>


  <div class="container">
    <div class="marginal_row">
      <div class="row">
        <% [:notice, :error, :alert].each do |level| %>
          <% unless flash[level].blank? %>
            <br>
            <div class="span4"></div>    
            <div class="span3 alert alert-<%= flash_class(level) %>" id="flash">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <%= content_tag :p, flash[level] %>
            </div>
            <div class="span4"></div>
          <% end %>
        <% end %>
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
<% if user_signed_in? %>  
  <% @notif = notification(current_user.id) %>
  <% if @notif != 0 %>
    <script type="text/javascript">
      $(function() {
        $(document).ready(function() {
          // $('#notification').css('cursor', 'pointer');
          
          // $("#notification").click(function(){ 
          $('#my_notification').modal('show');
          // });
        });
      });
    </script>
  <% end %>
<% end %>
</html>
