<!DOCTYPE html>
<html>
  <head>
    <title>Time Entry System</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "highcharts" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%#= render "partials/nav" %>
    <%= render "partials/topbar"%>
    <%= render "partials/subnav"%>
    <%#= render "partials/content"%>
    <%= debug params %>
    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
